*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row{
  display: flex;
}
.w-100{
  display: flex;
}
img.daire{
  border-radius: 50%;
}
.cracl{
  .daire{
    display: flex;
  }
}
.card-desk{
  display: flex;
}